body {
    color: black;
}

.navbar {
    background: rgb(236, 222, 222);
}

.navbar-fixed-top {
    margin: 20px auto;
}

h1 {
    text-align: center;
}

.nav-pills, .nav-link {
    color: black;
}

.nav-pills:hover, .nav-link:hover {
    color: darkgray;
}